
// var

$padding-info: 1.1rem;
$border-info: 20px;


// style

#carouselExampleIndicators {
    margin: 1rem;
    padding-bottom: $padding-info;

    .carousel-indicators {

        margin: 0;
    
        button {
            border-radius: 10px;
            background-color: rgb(150, 150, 151);
        }   
    }

    .carousel-inner {
        border-radius: $border-info;
    }

    .carousel-info {
        position: absolute;
        bottom: $padding-info;
        font-size: 1.5rem;
        color: white;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.397);
        width: 100%;
        border-bottom-left-radius: $border-info;
        border-bottom-right-radius: $border-info;
    }
}