

// colors

$nl-dark-fill: #B4917D; // main bridge 

$nl-red: #745b4d; // about me (text, border); info holder (border, icons); customer opinion icon
$nl-back-pink: #f3eee8; // about me back; bridge back
$nl-back-pink-dark: #dfc7b9; // about me (big border); paralax (border); customer opinion (big txt)
$nl-back-pink-light: #f8f5ef; // offer (back); bridge (back)
$nl-back-pink-ultra-light: #F8EEEE; //prices (back); bridge (back)

$nl-back-pastel: #418bad; // customers opinion back
$nl-red-logo :#954444;

$nl-border : rgb(206, 203, 197);

$nl-side-nav-a-light: rgb(207, 160, 98);
$nl-side-nav-a-dark: rgb(117, 100, 78);

// mixins

@mixin article {
    width: 50rem;
    height: max-content;
    margin: auto;
}

@mixin title {
    font-size: 3rem;
    padding: 1rem;
    width: 20rem;
    margin: auto;
    border-bottom: 1px solid;
    border-color: $nl-border;
    color: $nl-red;
}

@mixin nav-big {
    display: flex;
    justify-content: center;
    padding: .5rem 0;

    & li {
        margin: .5rem 1rem;
    }
}

@mixin nav-big-txt {
    font-size: 1.2rem;
}

// @mixin nav-small {
//     margin-top: 0;
//     padding-top: 0;
// }

@mixin photo-shad {
    box-shadow: 1px 1px 20px rgb(78, 51, 26);
}

@mixin slideshow {
    opacity: 0;
    position: absolute;
    top: 0;
}

// footer

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin footer-txt-title {
    color: $nl-red-logo;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 1rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid rgb(192, 192, 192);
}

@mixin footer-icons {
    height: 3rem;
}