

// colors

$nl-red: #745b4d; 
$nl-back-pink: #f3eee8;
$nl-back-pink-dark: #dfc7b9;
$nl-back-pink-light: #f8f5ef; 
$nl-red-logo :#954444;
$nl-border : rgb(206, 203, 197);
$nl-side-nav-a-light: rgb(209, 135, 39);
$nl-side-nav-a-dark: rgb(117, 100, 78);
$nl-content-body: rgb(250, 248, 244); 
$nl-red-detail: rgb(114, 34, 10);
$nl-brown-detail: rgb(79,33,8);
$nl-brown-detail-light: rgb(155, 114, 92);
$nl-price-line-bg: rgba(0, 0, 0, 0.021);
$nl-offer-omb-out: rgb(212, 179, 156);


// carousel variables:

$padding-info: 1.8rem;
$border-info: 20px;








