
// Sass --watch src/scss:dist/css

// colors

$nl-dark-fill: #B4917D;

$nl-red: #745b4d;
$nl-back-red: #CE4C4C;
$nl-back-pink: #f3eee8;
$nl-back-pink-dark: #dfc7b9;
$nl-back-pink-light: #f8f5ef;
$nl-back-pink-ultra-light: #F8EEEE;
$nl-back-pastel: #418bad;


// mixins

@mixin article {
    width: 50rem;
    height: max-content;
    margin: auto;
}

@mixin title {
    font-size: 3rem;
    padding: 1rem;
    width: 20rem;
    margin: auto;
    border-bottom: 1px grey solid;
    color: $nl-red;
}

@mixin nav-big {
    display: flex;
    justify-content: center;
    padding: .5rem 0;

    & li {
        margin: .5rem 1rem;
    }
}

@mixin photo-shad {
    box-shadow: 1px 1px 20px rgb(78, 51, 26);
}