
@use "./variables" as v;
@use "./slideshowBoot";

@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caramel&family=Oleo+Script+Swash+Caps&family=Roboto+Condensed&display=swap');


*, *::before, *::after {
    box-sizing: border-box
}

*:hover, * a {
    text-decoration: none;
}

.br {
    border: 1px grey solid;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


//  HEADER
// -----------------


.showcase {
    position: relative;
    margin: auto;
    height: 40rem;
    width: 22.5rem;

    &__logo {
        display: inline-block;
        margin-top: 15rem;
        width: 18rem;
        position: absolute;
        left: 30px;
        z-index: 20;
    }

    & video, & .polka {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    & video {
        opacity: 0.8;
        // object-fit: cover;
    }

    & .polka {
        opacity: 0.2;
        background-image: 
          radial-gradient(rgb(255, 255, 255) 22.4%, transparent 22.4%),
          radial-gradient(rgb(255, 255, 255) 22.4%, transparent 22.4%);
        background-position: 0px 0px, 4px 4px;
        background-size: 8px 8px;
        background-color: rgb(199, 15, 15);
    }

    &__grad {
        position: absolute;
        bottom: 0;
        height: 300px;
        width: 100%;
        z-index: 5;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    }
}


// MAIN NAV
//------------------


.main-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    z-index: 10;

    & ul {
        display: flex;
    }

    & li, & li:hover {
        border-bottom: 8px solid;
    }

    & li {
        width: 25%;
        text-align: center;
        border-bottom-color: rgba(117, 20, 20, 0);
    }

    & li:hover {
        background-color: rgba(240, 152, 152, 0.116);
        border-bottom-color:  rgb(116, 11, 11);
    }

    & a {
        display: block;
        padding: 1.5rem 0;
        color: rgb(87, 18, 18);
    }
}


// SECTIONS
//------------------

// ABOUT ME

.about-me {
    background-color: v.$nl-back-pink;
    padding: 10rem 0;
}

.about-me__content {
    @include v.article;

    &--head {
        @include v.title;
        text-align: center;
        color: v.$nl-red;
        margin-left: 26rem;
        margin-bottom: 2rem;
        border-color: v.$nl-red;
    }

    &--main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
        & img {
            width: 15rem;
            height: auto;
            margin-right: 5rem;
            @include v.photo-shad;
        }

        & span {
            display: inline-block;
            border-left: 20px solid v.$nl-back-pink-dark;
            color: rgb(129, 6, 6);
            padding: 1rem;
            padding-left: 3.5rem;
        }
}


// PARALAX

.paralax-1 {
    background-color: v.$nl-dark-fill;
    padding: 8rem 0;

    & div {
        outline: 17px solid v.$nl-back-pink-dark;
        height: 20rem;
        width: 75%;
        margin: auto;
        background-image: url("/src/img/paralax-1.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

}


// OFFER

.offer {
    background-color: v.$nl-back-pink-light;
}

.offer__content {
    background-color: v.$nl-back-pink-light;
    text-align: center;
    @include v.article;

    &--head {
        @include v.title;
        padding: 1rem 0;
    }

    &--nav-small {
        height: 3.5rem;
    }

    &--nav-big-ul, &--nav-small-ul {
        @include v.nav-big;
    }

    &--nav-small-ul {
        display: none;

        & li {
            height: 2rem;
        }

        & li:hover {
            cursor: pointer;
        }
    }

    &--nav-big-ul li:hover {
        cursor: pointer;
    }

    &--main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 4.5rem;

        &-body, &-icons {
            padding: 1rem;
        }

        &-icons #side-nav {
            display: none;
        }

        &-icons span {
            font-size: 3rem;
        }

        &-body {
            height: max-content;
            width: 90%;
        }

        &-icons {
            width: 10%;
        }

        &-icons:hover {
            cursor: pointer;
        }

    }
}

.info-holder {

    &__photo {
        position: relative;
        height: max-content;
        // height: 20rem;
        // background-image: url("/src/img/example-del.jpg");
        // background-position: center;

        &--photo {
            position: relative;
            overflow: hidden;
            height: 20rem;

            #ihp-1, #ihp-2, #ihp-3 {
                @include v.slideshow;
                left:0;
                right:0;
                bottom: 0;
                object-fit: cover;
                width:100%;
            }
        }

        &--title {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.199);
            color: white;
            font-size: 2rem;
            padding: .5rem 0;
        }
    }

    &__info {

        &--about {
            font-style: italic;
            width: 70%;
            margin: 2rem auto;
            text-align: left;
            border-left: 8px solid v.$nl-red;
            padding-left: 2rem;
        }

        &--rest {
            display: flex;
            justify-content: center;

            & .info-rest__example {
                display: flex;
                flex-direction: column;

                width: 26%;
                margin: 1rem .4rem;

                &--icon span {
                    color: v.$nl-red;
                    font-size: 2.4rem;
                }

                &--title {
                    font-size: 1.3rem;
                    margin: 1rem;
                }

                &--descr {
                    width: 80%;
                    margin: auto;
                    font-size: .8rem;
                }
            }
        }
    }
}

// slideshow animations

.animation__slideIN {
    animation-name: slideIN;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.animation__slideOUT {
    animation-name: sildeOUT;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes slideIN {
    from {
       opacity: 0;
       transform: translateX(-15rem);
    } 
    to {
       opacity: 1;
       transform: translateX(0);
    } 
   }

@keyframes slideOUT {
   from {
       z-index: 10;
       opacity: 1;
       transform: translateX(0);
   } 
   to {
       z-index: 10;
       opacity: 0;
       transform: translateX(15rem);
   } 
}


// nav-small active state
.ns-active {
    font-weight: bold;
}

#extension article, #treatment article, #style article {
    display: none;
}

// CUSTOMER OPINION

.co-container {
    background-color: v.$nl-dark-fill;
}

#co-title {
    @include v.title;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 4rem;
    text-align: center;
    width: 35rem;
    padding-top: 6rem;
    margin-bottom: 0rem;
    border: 0;
    color: v.$nl-back-pink-dark;
}

.p-absolute-fix {
    position: relative;
    margin: auto;
    width: 40rem;
    height: 25rem;
    overflow: hidden;
}

.customer-opinion {
    position: relative;
    padding-bottom: 10rem;
    width: 40rem;
    margin: auto;

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 6rem;

        & > * {
            margin: 1rem;
        }

        &--name {
            font-size: 2rem;
            color: white;
        }

        &--photo img {
            position: relative;
            z-index: 5;
            width: 170px;
            border: 2px white solid;
            @include v.photo-shad;
        }

        &--icon span {
            font-size: 1.4rem;
            margin-bottom: .5rem;
            color: v.$nl-red;
        }
    }   
    
    &__opinion {
        @include v.photo-shad;
        position: absolute;
        font-style: italic;
        top: 9rem;
        left: 180px;
        width: 22rem;
        margin: auto;
        background-color: v.$nl-back-pastel;
        color: white;
        padding: 1rem;
        border: white 4px solid;
        border-radius: 15px;

    }
}

#cu-op-1, #cu-op-2, #cu-op-3 {
    @include v.slideshow
}

.animation__in-left-right {
    animation-name: inLeftRight;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

.animation__out-left-right {
    animation-name: outLeftRight;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

// .animation__out-left-right--delay {
//     animation-name: outLeftRight;
//     animation-duration: .2s;
//     animation-delay: 8800ms;
//     animation-fill-mode: forwards;
// }

@keyframes inLeftRight {
     from {
        opacity: 0;
        transform: translateX(-15rem);
     } 
     to {
        opacity: 1;
        transform: translateX(0);
     } 
    }

   

@keyframes outLeftRight {
    from {
        z-index: 10;
        opacity: 1;
        transform: translateX(0);
    } 
    to {
        z-index: 10;
        opacity: 0;
        transform: translateX(15rem);
    } 
}

#corner-float {
    width: 60px;
    height: 20px;
    float: left;
}

// PRICES

.prices {
    background-color: v.$nl-back-pink-ultra-light;

    &__content {
        @include v.article;

        &--header {
            @include v.title;
            text-align: center
        }

        &--nav-ul {
            @include v.nav-big;
        }

        &--nav-ul:hover {
            cursor: pointer;
        }

        &--body {
            margin-top: 2rem;
            text-align: center;
            height: 43rem;

            &-ext, &-treat, &-style {
                display: none;
            }

            &-treat {
                position: relative;
            }

            &-treat .price-line {
                display: flex;
                align-items:center;
                justify-content: end;
                position: absolute;
                left: 50%;
                text-align: right;
                width: 0;
                border-bottom: 4px solid;
                padding-right: 1rem;

                & .price-holder {
                    display: none;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: .2rem;
                    width: 7rem;
                    border: 1px solid;

                    & span {
                        display: block;

                    }

                    &--value {
                        font-size: 1.5rem;
                    }

                }              
            }

            &-treat .pl-pink {
                top: 1rem;
                border-color: pink;
                background-color: rgba(255, 192, 203, 0.1);

                & .price-holder {
                    border-color: rgb(223, 147, 160);
                }

                & span {
                    color: rgb(194, 71, 153);
                }
            }

            &-treat .pl-peach {
                top: 10rem;
                border-color: orange;
                background-color: rgba(255, 166, 0, 0.1);

                & .price-holder {
                    border-color: rgb(219, 133, 63);
                }

                & span {
                    color: rgb(187, 96, 22);
                }
            }

            &-treat .pl-red {
                top: 19rem;
                border-color: red;
                background-color: rgba(255, 0, 0, 0.1);

                & .price-holder {
                    border-color: rgb(204, 79, 79);
                }

                & span {
                    color: rgb(160, 14, 14);
                }
            }
        }
    }
}

// animation price zones

.animation__line-in  {
    animation-name: line-left-right;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

.animation__line-in-d1, .animation__line-in-d2 {
    animation-name: line-left-right2;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

.animation__line-in-d1 {
    animation-delay: .05s;
}

.animation__line-in-d2 {
    animation-delay: .10s;
}

@keyframes line-left-right {
    0% {
        width: 0;
        height: 0;
    }
    25% {}
    75% {
        width: 15rem;
        height: 0;
    }

    100% {
        width: 15rem;
        height: 9rem;
    } 
}

@keyframes line-left-right2 {
    0% {
        width: 15rem;
        height: 0;
    }
    25% {
        height: 0;
    }
    100% {
        width: 15rem;
        height: 9rem;
    } 
}

// animation - price holder

.animation__price  {
    animation-name: price-appear;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

@keyframes price-appear {
    from {opacity: 0}
    to {opacity:1}
}

// CONTACT

.contact {

    &__content {

        &--header {
            @include v.title;
            text-align: center;
        }

        &--body-tel, &--body-email {
            text-align: center;
            margin: 2rem;
        }
    }
}

.contact-icon, .contact-txt {
    margin: .5rem;
}

.contact-icon span {
    font-size: 3rem;
}

.contact-txt {
    font-size: 1.6rem;
}

// MEDIA

.media {

    &__content {
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 2rem;

        &--header {
            @include v.title;
            border-bottom: 1px grey solid;
        }

        &--icons {

            & > * {
                display: inline-block;
                margin: 2rem 1.2rem;

                & img {
                    width: 30px;
                }
            }

        }
    }
}

// pulback menu

.pull-back {
    display: inline-block;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 1rem;
    z-index: 1000;
    transition: opacity .4s;

    & span {
        font-size: 3rem;
        transform: rotate(90deg);
        color: var(--marin-blue);
        transition: color .4s;
    }
}

.opa-1 {
    opacity: 1;
}

.opa-0 {
    opacity: 0;
}


// BRIDGES
//------------------

.color-dark {
    fill: v.$nl-dark-fill;
}

.bridge-1 {
    background-color: v.$nl-dark-fill;
    height: 20rem;
}

.bridge-1-1 {
    position: relative;
    background-color: v.$nl-back-pink;

    & div {
        height: max-content;
        width: 100%;
    }

    &__svg--right {
        position: absolute;
        top: 1rem;
    }
}

.bridge-2 {
    background-color: v.$nl-back-pink;
    height: max-content;
}

.bridge-3 {
    background-color: v.$nl-back-pink-light;
}

.bridge-4 {
    background-color: v.$nl-back-pink-light;
    height: max-content;
}
.bridge-5 {
    background-color: v.$nl-back-pink-ultra-light;
}


// FOOTER
//------------------

footer {
    width: 200px;
    text-align: center;
    margin: 2rem;
    margin-bottom: 0rem;
    margin: auto;
    padding: 1rem;

    & img {
        opacity: .5;
    }

    & p {
        color: rgb(201, 140, 140);
    }
}


// for overlay : position absolute + mix-blend-mode: overlay;









