
@use "./variables" as v;


@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caramel&display=swap');


*, *::before, *::after {
    box-sizing: border-box
}

*:hover, * a {
    text-decoration: none;
}

.br {
    border: 1px grey solid;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


//  HEADER
// -----------------


.showcase {
    position: relative;
    margin: auto;
    height: 40rem;
    width: 22.5rem;

    &__logo {
        display: inline-block;
        margin-top: 15rem;
        width: 18rem;
        position: absolute;
        left: 30px;
        z-index: 20;
    }

    & video, & .polka {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    & video {
        opacity: 0.8;
        // object-fit: cover;
    }

    & .polka {
        opacity: 0.2;
        background-image: 
          radial-gradient(rgb(255, 255, 255) 22.4%, transparent 22.4%),
          radial-gradient(rgb(255, 255, 255) 22.4%, transparent 22.4%);
        background-position: 0px 0px, 4px 4px;
        background-size: 8px 8px;
        background-color: rgb(199, 15, 15);
    }

    &__grad {
        position: absolute;
        bottom: 0;
        height: 300px;
        width: 100%;
        z-index: 5;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    }
}



// MAIN NAV
//------------------


.main-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1.5rem;
    color: #420d0d;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    z-index: 10;

    & ul {
        display: flex;
    }

    & li, & li:hover {
        border-bottom: 8px solid;
    }

    & li {
        padding: 1.5rem 0;
        width: 25%;
        text-align: center;
        border-bottom-color: rgba(255, 0, 0, 0);
    }

    & li:hover {
        background-color: rgba(238, 175, 175, 0.116);
        border-bottom-color:  black;
    }
}


// SECTIONS
//------------------


.bridge-1 {
    background-color: v.$nl-back-red;
    height: 20rem;
}

.bridge-1-1 {
    position: relative;
    background-color: v.$nl-back-pink;

    & div {
        height: max-content;
        width: 100%;
    }

    &__svg--right {
        position: absolute;
        top: 1rem;
    }
}

.about-me {
    background-color: v.$nl-back-pink;
    padding: 10rem 0;
}

.about-me__content {
    @include v.article;

    &--head {
        @include v.title;
        text-align: center;
        color: pink;
        padding-left: 22rem;
    }

    &--main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
        & img {
            width: 15rem;
            height: auto;
            margin-right: 5rem;
            box-shadow: 1px 1px 20px rgb(170, 70, 70);
        }

        & span {
            display: inline-block;
            border-left: 20px solid v.$nl-back-pink-dark;
            padding: 1rem;
            padding-left: 3.5rem;
        }
}

.bridge-2 {
    background-color: v.$nl-back-pink;
    height: max-content;
}

.paralax-1 {
    background-color: v.$nl-back-red;
    padding: 8rem 0;

    & div {
        outline: 30px solid v.$nl-back-pink-dark;
        height: 20rem;
        width: 75%;
        margin: auto;
        background-image: url("/src/img/paralax-1.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

}

.bridge-3 {
    background-color: v.$nl-back-pink-light;
}

.offer {
    background-color: v.$nl-back-pink-light;
}

.offer__content {
    background-color: v.$nl-back-pink-light;
    text-align: center;
    @include v.article;

    &--head {
        @include v.title;
        padding: 1rem 0;
    }

    &--nav-small {
        height: 3.5rem;
    }

    &--nav-big-ul, &--nav-small-ul {
        @include v.nav-big;
    }

    &--nav-small-ul {
        display: none;

        & li {
            height: 2rem;
        }

        & li:hover {
            cursor: pointer;
        }
    }

    &--nav-big-ul li:hover {
        cursor: pointer;
    }

    &--main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 4.5rem;

        &-body, &-icons {
            padding: 1rem;
        }

        &-icons #side-nav {
            display: none;
        }

        &-icons span {
            font-size: 3rem;
        }

        &-body {
            height: 40rem;
            width: 90%;
        }

        &-icons {
            width: 10%;
        }

        &-icons:hover {
            cursor: pointer;
        }

    }

}

// nav-small active state
.ns-active {
    font-weight: bold;
}

#extension article, #treatment article, #style article {
    display: none;
}

.bridge-4 {
    background-color: v.$nl-back-pink-light;
    height: max-content;
}

.co-container {
    background-color: v.$nl-back-red;
}

.customer-opinion {
    position: relative;
    padding-bottom: 10rem;
    width: 40rem;
    margin: auto;

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 6rem;

        & > * {
            margin: 1rem;
        }

        &--name {
            font-size: 2rem;
            color: white;
        }

        &--photo img {
            position: relative;
            z-index: 5;
            width: 170px;
            border: 2px white solid;
        }

        &--icon span {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    }   
    
    &__opinion {
        position: absolute;
        top: 9rem;
        left: 180px;
        width: 22rem;
        margin: auto;
        background-color: v.$nl-back-pastel;
        color: white;
        padding: 1rem;
        border: white 4px solid;
        border-radius: 15px;

    }
}

#corner-float {
    width: 60px;
    height: 20px;
    float: left;
}

.bridge-5 {
    background-color: v.$nl-back-pink-ultra-light;
}

.prices {
    background-color: v.$nl-back-pink-ultra-light;

    &__content {
        @include v.article;

        &--header {
            @include v.title;
            text-align: center
        }

        &--nav-ul {
            @include v.nav-big;
        }

        &--body {
            margin-top: 2rem;
            text-align: center;
        }
    }
}

.contact {

    &__content {
        @include v.article;

        &--header {
            @include v.title;
            text-align: center
        }

        &--body-tel, &--body-email {
            text-align: center;
            margin: 2rem;
        }
    }
}

.contact-icon, .contact-txt {
    margin: .5rem;
}

.contact-icon span {
    font-size: 3rem;
}

.contact-txt {
    font-size: 1.6rem;
}

.media {
    &__content {
        @include v.article;
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 2rem;

        &--header {
            @include v.title;
        }

        &--icons {

            & > * {
                display: inline-block;
                margin: 2rem;

                & img {
                    width: 40px;
                }
            }

        }
    }
}

footer {
    width: 200px;
    text-align: center;
    margin: 2rem;
    margin-bottom: 0rem;
    margin: auto;
    padding: 1rem;
    border-top: 1px rgb(209, 209, 209) solid;

    & img {
        opacity: .5;
    }

    & p {
        color: rgb(201, 140, 140);
    }
}


// for overlay : position absolute + mix-blend-mode: overlay;

// Sass --watch src/scss:dist/css







